<% if (error) { %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <% } else { %>

        <ul class="list-group">
            <a>Id</a>
            <li class="list-group-item">
                <%= contact.id %>
            </li>
            <a>Nombre</a>
            <li class="list-group-item">
                <%= contact.firstname %>
            </li>
            <a>Apellido</a>
            <li class="list-group-item">
                <%= contact.lastname %>
            </li>
            <a>Telefono</a>
            <li class="list-group-item">
                <%= contact.phone %>
            </li>
            <a>Email</a>
            <li class="list-group-item">
                <%= contact.email %>
            </li>
        </ul>

        <a href="/contact" class="btn btn-primary mt-3">Volver</a>
        <% } %>
